{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Le Blog</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Le Blog</h1>
    {% for post in posts %}
        <a href="{% url 'blog-post' slug=post.slug %}">
            <h2>{{ forloop.counter }}.  {{ post.title }}</h2>
        </a>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    {% empty %}
    <p>Le blog ne contient aucun article</p>
    {% endfor %}
</body>
</html>