{% extends 'blog/base.html' %}

{% block title %}<title>Le Blog</title>{% endblock %}

{% block content %}
    {% for post in posts %}
        {% with categories_count=post.category.count %}
        <a href="{% url 'blog-post' slug=post.slug %}">
            <h2>{{ forloop.counter }}.  {{ post.title }} ({{ categories_count }})</h2>
        </a>
        <small>Cet article est présent dans {{ categories_count }} catégories.</small>
        <p>{{ post.content|truncatewords:100|striptags|safe }}</p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
        {% endwith %}
    {% empty %}
    <p>Le blog ne contient aucun article</p>
    {% endfor %}
{% endblock %}